@keyframes rainbow {
    0% {
        color: red;
    }
    10% {
        color: orange;
    }
    20% {
        color: yellow;
    }
    30% {
        color: green;
    }
    40% {
        color: blue;
    }
    50% {
        color: purple;
    }
    60% {
        color: blue;
    }
    70% {
        color: green;
    }
    80% {
        color: yellow;
    }
    90% {
        color: orange
    }
    100% {
        color: red
    }
}

.rainbow {
    animation: 5s rainbow linear infinite;
}